@import "mixins";

.coments-block {
  max-width: 1440px;
  margin: 0 auto 80px;
  &__title {
    text-align: center;
    & h2 {
      display: inline-block;
      max-width: 448px;
      @include titles();
    }

    & p {
      display: block;
      max-width: 555px;
      margin: 20px auto 60px;
      @include text();
    }
  }

  &__spiner {
    margin: 0 auto;
    max-width: 400px;
    overflow: hidden;

    &-line {
      max-height: 230px;
      width: 1200px;
      display: flex;
      position: relative;
      left: 0;
      transition: all ease 1s;
    }

    &-box {
      max-width: 400px;
      max-height: 230px;
      background: #FFFFFF;
      border: 2px solid #DDDDDD;
      border-radius: 10px;
      padding: 30px;

      &:hover,
      &:active,
      &focus {
        border: 2px solid #F53838;
      }
    }
  }

  &__header {
    display: flex;
  }

  &__name {
    padding-left: 20px;
    & h4 {
      width: 142px;
      height: 18px;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #0B132A;
      margin-bottom: 5px;
    }

    & span {
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
      color: #4F5665;
      width: 127.34px;
      height: 14px;
    }
  }

  &__rate {
    padding: 25px 48px 0 0;
    width: 24px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #0B132A;
    margin-left: auto;

    & img {
      display: inline-block;
      margin-left: 11px;
    }
  }

  &__comment p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #0B132A;
    max-width: 340px;
    min-width: 100px;
  }

  &__arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    max-width: 600px;
  }

  &__circles {
    display: flex;
    margin-top: 22.5px;
  }

  .circle {
    width: 15px;
    height: 15px;
    background: #DDE0E4;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;

    &-active {
      background: #F53838;
    }
  }

  .red_arrow {
    background: transparent;
    border: 2px solid #F53838;
  }

  .white_arrow {
    background: #F53838;
    border: 2px solid #F53838;
    box-shadow: 0 14px 44px rgba(14, 20, 34, 0.08);
  }

  .white_arrow, .red_arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}