@import "mixins";

.features-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;

  &__info {
    max-width: 430px;
    & h2 {
      @include titles();
      padding: 0 0 25px 0;
    }

    & p {
      @include text();
    }

    & ul {
      list-style: none;
    }

    & li {
      @include list('../images/features-block/checkMark.png');

    }
  }
}