@mixin big-btn($width: 250px, $height: 60px) {
  background: none;
  border: none;
  width: $width;
  height: $height;
  background: #F53838;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #FFFFFF;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    background: #FFFFFF;
    color: #F53838;
    box-shadow: inset 0 0 10px rgba(245, 56, 56, 0.35);
  }
}

@mixin min-btn($width: 100px, $height: 50px) {
  border: 2px solid #F53838;
  width: $width;
  height: $height;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #F53838;
  background: none;

  &:hover {
    background: #F53838;
    border-radius: 50px;
    color: #FFFFFF;
    box-shadow: 0 17px 54px rgba(245, 56, 56, 0.35);
  }

  &:active {
    background: #FFFFFF;
    color: #F53838;
    box-shadow: inset 0 0 10px rgba(245, 56, 56, 0.35);
  }
}

@mixin titles() {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}

@mixin text() {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #4F5665;
}

@mixin list($image: '../images/features-block/checkMark.png', $width: 24px, $height: 24px, $mb: -6px, $mr:12px, $mt: 25px) {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-top: $mt;

  &:before {
    content: "";
    display: inline-block;
    width: $width;
    height: $height;
    background: url($image) no-repeat;
    margin-bottom: $mb;
    margin-right: $mr;
  }
}